.contact-container h2 {
    font-size: 2rem;
    margin-top: 3rem;
}

.contact-container p {
    font-size: 2rem;
}

.contact-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}


.contacts-way{
    display: flex;
    justify-content: space-around;
    padding: 3rem;
    border-radius: 3rem;
    background-color: #fff;
    width: 60%;
    box-shadow: -1px 3px 45px 2px rgba(0, 0, 0, 0.26);
    text-align: center;
    font-size: 2rem;
    margin-bottom: 5rem;
}

.contact-way-title{
    color: var(--black) !important;
}

.contact-way-value {
    color: var(--black) !important;
    font-size: 1.5rem !important;
    font-weight: 500 !important;
}

.contacts-way .fa-phone{
    color: rgb(22, 101, 22);
}

.contacts-way .fa-envelope{
    color: rgb(227, 209, 15);
}

.contacts-way .fa-whatsapp{
    color: green;
}

.contacts-way .fa-telegram{
    color: rgb(0, 136, 204);
}