:root{
    --dark-color: rgb(25, 55, 109);
    --green: rgb(87, 107, 189);
    --black:#444;
    --light-color:#666;
    --border:0.1rem solid rgba(0,0,0,0.1);
    --border-hover:0.1rem solid var(--black);
    --box-shadow:0 0.5rem 1rem rgba(0,0,0,0.1);
}

/* cart page custom styles section starts */
.header-text-container{
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.level-text{
    font-size: 2rem;
    color: var(--green);
    cursor: pointer;
}

.level-text:hover{
    color: rgb(31, 95, 134);
}

.arrows{
    font-size: 2rem;
    color: var(--dark-color);
}

.this-level{
    border-bottom: 0.2rem solid var(--green);;
}
/* cart page custom styles section ends */

/* main section styles */
.main{
    display: flex;
    justify-content: space-around;
}

.products-list{
    width:65%;
    background-color: rgb(222, 238, 247);;
}

.total-price{
    background-color: rgb(225, 225, 255);
    width: 30%;
}


/* products list in cart section starts */
table {
    width: 100%;
    border-collapse: collapse;
}
  
th, td {
    border: 0.1rem solid var(--black);
    padding: 0.8rem;
    text-align: center;
}
  
th {
    background-color: #f2f2f2;
    font-size: 1.7rem;
}

.product-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.table-img{
    width: 5rem;
    height: 5rem;
}

.text-in-table{
    font-size: 1.5rem;
}

.products-number{
    padding: 0 1rem 0 1rem;
}

.decrease{
    padding: 0 0.5rem 0 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.increase{
    padding: 0 0.5rem 0 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.decrease:hover , .increase:hover{
    color: #802424;
    font-size: 2rem;
}
/* products list in cart section ends */

/* total price section starts */

/* total price section ends */