:root{
    --dark-color: rgb(25, 55, 109);
    --green: rgb(87, 107, 189);
    --black:#444;
    --light-color:#666;
    --border:0.1rem solid rgba(0,0,0,0.1);
    --border-hover:0.1rem solid var(--black);
    --box-shadow:0 0.5rem 1rem rgba(0,0,0,0.1);
}

/* cart page custom styles section starts */
.header-text-container{
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.level-text{
    font-size: 2rem;
    color: var(--green);
    cursor: pointer;
}

.level-text:hover{
    color: rgb(31, 95, 134);
}

.arrows{
    font-size: 2rem;
    color: var(--dark-color);
}

.this-level{
    border-bottom: 0.2rem solid var(--green);;
}
/* cart page custom styles section ends */

/* main section styles */
.main{
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-around;
}

.products-list{
    height: fit-content;
    width:65%;
    background-color: rgb(222, 238, 247);;
}

.total-price{
    height: fit-content;
    background-color: rgb(225, 225, 255);
    width: 30%;
}


/* products list in cart section starts */
table {
    width: 100%;
    border-collapse: collapse;
}
  
th, td {
    border: 0.1rem solid var(--black);
    padding: 0.8rem;
    text-align: center;
}
  
th {
    background-color: #f2f2f2;
    font-size: 1.7rem;
}

.product-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.delete-item-btn{
    font-size: 1.5rem;
    cursor: pointer;
    color: red;
}

.table-img{
    width: 5rem;
    height: 5rem;
}

.text-in-table{
    font-size: 1.5rem;
}

.products-number{
    padding: 0 1rem 0 1rem;
}

.decrease{
    padding: 0 0.5rem 0 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.increase{
    padding: 0 0.5rem 0 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.decrease:hover , .increase:hover{
    color: #802424;
    font-size: 2rem;
}
/* products list in cart section ends */

/* total price section starts */
.total-price{
    border: var(--border-hover);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.price-must-paid{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: var(--border-hover);
}

.price-must-paid-title{
    font-size: 2rem;
}

.price-must-paid-value{
    font-size: 1.5rem;
}

.container-in-price-section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.title-in-price-section{
    font-size: 1.5rem;
}

.value-in-price-section{
    font-size: 1.3rem;
    color: #e93232;
}
/* total price section ends */


/* login page styles starts */
.login-section{
    margin-top: 3.5rem;
    text-align: center;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.login-page-title{
    font-size: 3rem;
}

.login-form{
    background: #fff;
    border: var(--border);
    width: 40rem;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
    margin: 2rem;
}

.form-title{
    font-size: 2.5rem;
    color: var(--black);
    text-align: center;
}

.get-info-span{
    font-size: 1.5rem;
    display: block;
    padding-top: 1rem;
    color: var(--black);
}

.box{
    width: 100%;
    margin: 0.7rem 0;
    font-size: 1.6rem;
    border: var(--border);
    border-radius: 0.5rem;
    padding: 1rem 1.2rem;
    color: var(--black);
    direction: ltr;
}

.box:hover{
    border: var(--border-hover);
}







/* information page styles starts */
.information{
    margin: 4rem 0 4rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.information-title{
    font-size: 3.5rem;
    color: var(--black);
}

.information-form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: fit-content;
}

.info-item{
    display: flex;
    flex-direction: column;

}

.label-span{
    font-size: 2rem;
}

.star{
    color: red;
}

.get-info{
    border:var(--border);
    width: 100%;
    height: 4rem;
    padding: 1rem;
}

.get-info:hover{
    border: var(--border-hover);
}

