/* cart page custom header styles section starts */
.header-text-container{
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.level-text{
    font-size: 2rem;
    color: var(--green);
    cursor: pointer;
}

.level-text:hover{
    color: rgb(31, 95, 134);
}

.arrows{
    font-size: 2rem;
    color: var(--dark-color);
}

.this-level{
    border-bottom: 0.2rem solid var(--green);;
}
/* cart page custom header styles section ends */

.main{
    display: flex;
    justify-content: space-around;
    align-items: start;
}

.products-list{
    width:60%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    height: 40rem;
    overflow-y: scroll;
    padding: 5rem;
}

.products-list::-webkit-scrollbar {
    width: 12px; 
}

.products-list::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
}

.products-list::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 6px; 
}

.products-list::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
}

.product-item{
    display:flex;
    align-items: center;
    gap: 2rem;
    border-radius: 2rem;
    padding: 1rem;
    border-radius: 2rem;
    box-shadow: -1px 3px 45px 2px rgba(0, 0, 0, 0.26);
}

.product-item img{
    width: 12rem;
}

.description{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem 0 4rem;
}

.item-description{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.product-name{
    font-size: 2.5rem;
}

.price{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.price-after-cost{
    font-size: 2rem;
    color: var(--black);
}

.price-before-cost{
    font-size: 1.5rem;
    color: var(--light-color);
    text-decoration: line-through;
}

.quantity-title{
    font-size: 2rem;
    color: var(--black);
    padding-left: 0.5rem;
}

.quantity-button{
    font-size: 2rem;
    background-color: #fff;
    color: var(--black);
    cursor: pointer;
}

#quantity{
    width:2rem;
    text-align: center;
}

.decrease-btn:hover{
    color: red;
}

.increase-btn:hover{
    color: green;
}

.fa-trash-can{
    font-size: 2rem;
    color: var(--black);
    cursor: pointer;
}

.fa-trash-can:hover{
    color: red;
}


/* total price section starts */
.total-price{
    box-shadow: -1px 3px 45px 2px rgba(0, 0, 0, 0.26);
    border-radius: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.price-must-paid{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: var(--border-hover);
}

.price-must-paid-title{
    font-size: 2rem;
}

.price-must-paid-value{
    font-size: 1.5rem;
}

.container-in-price-section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.title-in-price-section{
    font-size: 1.5rem;
}

.value-in-price-section{
    font-size: 1.3rem;
    color: #e93232;
}
/* total price section ends */


/* login page styles starts */
.login-section{
    margin-top: 3.5rem;
    text-align: center;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.login-page-title{
    font-size: 3rem;
}

.login-form{
    background: #fff;
    border: var(--border);
    width: 40rem;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
    margin: 2rem;
}

.form-title{
    font-size: 2.5rem;
    color: var(--black);
    text-align: center;
}

.get-info-span{
    font-size: 1.5rem;
    display: block;
    padding-top: 1rem;
    color: var(--black);
}

.box{
    width: 100%;
    margin: 0.7rem 0;
    font-size: 1.6rem;
    border: var(--border);
    border-radius: 0.5rem;
    padding: 1rem 1.2rem;
    color: var(--black);
    direction: ltr;
}

.box:hover{
    border: var(--border-hover);
}







/* information page styles starts */
.information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 3rem 0 3rem 0;
}

.information-container{
    box-shadow: -1px 3px 45px 2px rgba(0, 0, 0, 0.26);
    padding: 2rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 40rem;
}

.information-title{
    font-size: 2.5rem;
    color: var(--black);
}

.information-option{
    display: flex;
    flex-direction: column;
}

.information-input{
    border: var(--border);
    padding: 0.5rem;
}

.information-input:hover{
    border: var(--border-hover);
}

.information-option label{
    font-size: 1.5rem;
}

.star{
    color: red;
}

.submition-information{
    text-align: center;
}