@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --dark-color: rgb(25, 55, 109);
    --green: rgb(87, 107, 189);
    --black:#444;
    --light-color:#666;
    --border:0.1rem solid rgba(0,0,0,0.1);
    --border-hover:0.1rem solid var(--black);
    --box-shadow:0 0.5rem 1rem rgba(0,0,0,0.1);
}


*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition: all 0.2s linear;
    transition: width none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

::after, ::before{
    box-sizing: border-box;
}

/* scrollbar  */
html::-webkit-scrollbar{
    width: 1.2rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--black);
}



/* btn */
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 0.9rem 3rem;
    border-radius: 0.5rem;
    color: #fff;
    background: var(--dark-color);
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
}

.btn:hover{
    background: var(--green);
    transform: scale(0.95);
}

/* heading section */
.heading{
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
    
}

.heading::before{
    content: '';
    position: absolute;
    top: 50%; left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 0.01rem;
    background: rgba(0,0,0,0.1);
    z-index: -1;
    
}

.heading span{
    font-size: 3rem;
    padding: 0.5rem 2rem;
    color: var(--black);
    background: #fff;
    border: var(--border);
}


/* header section starts*/
/* hesder-1 */
.header{
    width: 100%;
}


.header .header-1{
    display: flex;
    width: 100%;
    height: 4rem;
    background: rgb(225, 226, 220);
    align-items: center;
    justify-content: space-between;
}

.header .header-1 .icons{
    padding-right: 2rem;
    font-size: 2.5rem;
    width: 100%;
}

.header .header-1 .icons i{
    color: var(--black);
}

.header .header-1 .icons i:hover{
    color: var(--green);
    transform: scale(1.2);
}

.header .header-1 .content{
    font-size: larger;
    width: 100%;
}

.header .header-1 .content span{
    color: var(--dark-color);
    font-weight: bolder;
}

.header .header-1 .login{
    color: var(--light-color);
    font-size: 1.1rem;
    border: var(--border);
    cursor: pointer;
    padding: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.3rem;
    width: 30rem;
    text-align: center;
    margin-left: 2rem;
}

.header .header-1 .login:hover{
    border: var(--border-hover);
}

.header .header-1 .login i{
    padding-left: 0.4rem;
}


.login-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0; right: -200%;
    z-index: 10000;
    height: 100%;
    width: 100%;
}

.login-container.active{
    right: 0;
}

.login-container form{
    background: #fff;
    border: var(--border);
    width: 40rem;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
    margin: 2rem;
}

.login-container form img{
    height: 20rem;
    width: 20rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.login-container form h3{
    font-size: 2.5rem;
    color: var(--black);
    text-align: center;
}

.login-container form span{
    font-size: 1.5rem;
    display: block;
    padding-top: 1rem;
    color: var(--black);
}

.login-container form .box{
    width: 100%;
    margin: 0.7rem 0;
    font-size: 1.6rem;
    border: var(--border);
    border-radius: 0.5rem;
    padding: 1rem 1.2rem;
    color: var(--black);
    direction: ltr;
}

.login-container form .btn{
    text-align: center;
    width: 100%;
    margin:1.5rem 0;
}

.login-container #close-login-btn{
    position: absolute;
    top: 1.5rem;
    right:2.5rem;
    font-size: 5rem;
    color: var(--black);
    cursor: pointer;
}


/* header-2  */
.header .header-2{
    width: 100%;
    height: 9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-2 .logo img{
    width: 12rem;
    height: 12rem;
}

.header .header-2 .search-form{
    width:50rem;
    height: 5rem;
    border: var(--border);
    overflow: hidden;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
}

.header .header-2 .search-form:hover{
    border: var(--border-hover);
}

.header .header-2 .search-form input{
    font-size: 1.6rem;
    padding: 0 1.2rem;
    height: 100%;
    width: 100%;
    text-transform: none;
    color: var(--black);
}

.header .header-2 .search-form label{
    font-size: 2.5rem;
    padding-left: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .header-2 .search-form label:hover{
    color: var(--green);
}

.mobile-items{
    display: flex;
}

.mobile-items #products{
    font-size: 2.5rem;
    margin-left: 1.5rem;
    display: none;
}

.mobile-items #products:hover{
    color: var(--green);
}

.mobile-items #search-btn{
    font-size: 2.5rem;
    margin-left: 1.5rem;
    display: none;
}

.mobile-items #search-btn:hover{
    color: var(--green);
}

.header .header-2 .cart-icon{
    margin-left: 2rem;
    cursor: pointer;
    position: relative;
    display: inline-block;    
}


.header .header-2 .cart-icon:hover{
    color: var(--green);
}

.header .header-2 .cart-icon i{
    font-size: 2.8rem ;
    margin-left: 0.6rem;
}

.header .header-2 .cart-icon span{
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    font-size: 12px;
    padding: 2px 5px;
    border-radius: 50%;
}


/* cart styles section starts */

.cart-section .cart{
    /* opening */
    -webkit-transform: translateX(0);
    transform: translateX(0);
    position: fixed;
    top: 0;
    left: 0;
    right: 300%;
    display: block;
    overflow: hidden;
    z-index: 10000;
    width: 400px;
    height: 100vh;
    padding: 20px 10px 20px 30px;
    transition: all 0.5s ease 0s;
    transform: translateX(100%);
    background-color: #fff;
    box-shadow: var(--box-shadow);
}

.cart-section .cart.active{
    right: 100%;
}



.cart-section .cart .scrollbar::-webkit-scrollbar{
    width: 3px;
    background: transparent;
    border-radius: 30px;
}

.cart-section .cart .scrollbar::-webkit-scrollbar-thumb{
    background: var(--black);
}


.cart-section .cart .scrollbar{
    overflow-y: auto;
}

.cart-section .cart .cart-content{
    position: relative;
    z-index: 9;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    height: 100%;
    touch-action: auto;
    overflow-x: hidden !important;
    padding-left: 20px;
}

.cart-section .cart .cart-content .cart-header{
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 25px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.cart-section .cart .cart-content .cart-header span{
    font-weight: 500;
    font-size: 2.5rem;
    color: var(--black);
}

.cart-section .cart .cart-content .cart-header button{
    background-color: transparent;
    font-size: 30px;
    padding: 0 15px;
    cursor: pointer;
    outline: none;
    border: none;
    line-height: inherit;
}

.cart-section .cart .cart-content .cart-items{
    max-height: calc(100% - (60px + 245px));
}

.cart-section .cart .cart-content .cart-items .cart-product{
    border-top: 0;
}

.cart-section .cart .cart-content .cart-items .cart-product{
    padding-top: 20px;
    padding-right: 10px;
    margin-bottom: 20px;
    border-top: var(--border);
}

.cart-section .cart .cart-content .cart-items .clearfix::after{
    display: block;
    clear: both;
    content: "";
}

.cart-section .cart .cart-content .cart-items .cart-product .image{
    float: right;
    width: 80px;
    margin-left: 15px;
    position: relative;
}

.cart-section .cart .cart-content .cart-items .cart-product .image img{
    width: 8rem;
    height: 8rem;
}

.cart-section .cart .cart-content .cart-items .cart-product .image .delete-mark{
    position: absolute;
    right: -8px;
    top: -8px;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    display: block;
    line-height: 20px;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    box-shadow: var(--box-shadow);
}

.cart-section .cart .cart-content .cart-items .cart-product .info{
    overflow: hidden;
}

.cart-section .cart .cart-content .cart-items .cart-product .info h6{
    display: block;
    font-size: 0.67cm;
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
    color: var(--black);
    font-weight: 600;
    line-height: 1.3rem;
}

.cart-section .cart .cart-content .cart-items .cart-product .info .quantity-price{
    font-size: 14px;
    font-weight: 400;
}

.cart-section .cart .cart-content .cart-footer{
    margin-top: 25px;
}

.cart-section .cart .cart-content .cart-footer .price{
    border-top: var(--border);
    border-bottom: var(--border);
    padding: 15px 0;
}

.cart-section .cart .cart-content .cart-footer .price h5{
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 500;
    clear: both;
    color: var(--black);
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.cart-section .cart .cart-content .cart-footer .price span{
    color: var(--green);
}

.cart-section .cart .cart-content .cart-footer .buttons{
    margin-top: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 25px 0 15px;
}

.cart-section .cart .cart-content .cart-footer .buttons a{
    padding: 10px 20px;
    font-size: 15px;
    margin-bottom: 5px;
}

.cart-section .cart .cart-content .cart-footer p{
    font-size: 14px;
    margin-bottom: 0;
    font-weight: 300;
    margin-top: 0;
    color: var(--black);
}


/* header-3 section starts */
.header-3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--dark-color);
    width: 100%;
    height: 6rem;
}

.header-3 .navbar{
    margin-right: 18rem;
}

.header-3 .navbar a{
    color: #fff;
    font-size: 1.7rem;
    display: inline-block;
    padding: 1.2rem;
    border-radius: 1rem;
}

.header-3 .categories-bar{
    
    margin-left: 10rem;
    cursor: pointer;
    border-radius: 1rem;
}


.header-3 .categories-bar span{
    margin-right: 0;
    color: #fff;
    font-size: 1.7rem;
    padding: 1.2rem;
    display: inline-block;
    border-radius: 1rem;
}

.header-3 .categories-bar i{
    font-size: 2rem;
    padding-right: 1rem;
    color: #fff;
}

.header-3 .navbar a:hover,
.header-3 .categories-bar:hover{
    background: var(--green);
}

.header .header-3.active{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
}


.bot-nav .bottom-navbar{
    font-size: 2rem;
    background: var(--dark-color);
    bottom: 0; right: 0; left: 0;
    position: fixed;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.bot-nav .bottom-navbar a{
    font-size: 1.5rem;
    padding: 1.7rem;
    color: #fff;
}

.bot-nav .bottom-navbar a:hover{
    background: var(--green);
}

/* dropdown categories list starts */
.dropdown-list{
    background-color: rgba(25, 55, 109, 0.8);
    position: fixed;
    left: 2.5rem;
    z-index: 10000;
    transition: all 0.5s ease 0s;
    box-shadow: var(--box-shadow);
    width: 27.5rem;
    height: 40rem;
    border-radius: 20px;
    padding:0 15px 0 15px;
    display: none;
}

.dropdown-list.active{
    display: block;
    top: 20rem;
}

.dropdown-list.active-2{
    display: block;
    top: 95px;
}

.dropdown-list .scrollbar::-webkit-scrollbar{
    width: 3px;
    background: transparent;
    border-radius: 30px;
}

.dropdown-list .scrollbar::-webkit-scrollbar-thumb{
    background: var(--black);
}

.dropdown-list .scrollbar{
    overflow-y: auto;
}



.dropdown-list .dropdown-list-content{
    position: relative;
    z-index: 9;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    height: 100%;
    touch-action: auto;
    overflow-x: hidden !important;
}

.dropdown-list .dropdown-list-content .dropdown-list-header{
    border-bottom: 1px solid #eee;
}

.dropdown-list .dropdown-list-content .dropdown-list-header button{
    background-color: transparent;
    font-size: 30px;
    padding: 0 15px;
    cursor: pointer;
    outline: none;
    border: none;
    line-height: inherit;
    color: #fff;
}

.dropdown-list .dropdown-list-content .dropdown-list-header button:hover{
    color: var(--black);
}

.dropdown-list .dropdown-list-content .dropdown-list-items{
    display: grid;
    grid-template-rows: 5;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.dropdown-list .dropdown-list-content .dropdown-list-items a{
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    border-bottom: 1px solid var(--black);
    width: 100%;
    text-align: center;
    max-height: 100;
    padding: 1rem 0 1rem 0;
}

.dropdown-list .dropdown-list-content .dropdown-list-items a:hover{
    background-color: #fff;
    color: var(--green);
    padding: 1.2rem;
    border-radius: 5px;
}

.dropdown-list .dropdown-list-content .dropdown-list-footer{
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-list .dropdown-list-content .dropdown-list-footer a{
    color: black;
    font-size: 1.5rem;
    padding: 1rem;
}

.dropdown-list .dropdown-list-content .dropdown-list-footer a:hover{
    color: #fff;
}


/* special product section starts */
.special-slide-container{
    max-width: 90%;
    height: 25rem;
    background: rgb(225, 226, 220);
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.special-slide-content{
    margin: 4rem 4rem;
    overflow: hidden;
}

.special-card{
    border-radius: 25px;
    background-color: #efefef;
    box-shadow: var(--box-shadow);
    height: 20rem;
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.special-card:hover{
    border: var(--border-hover);
    transform: scale(0.9);
}

.special-article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.special-card-content{
    display: flex;
    justify-content: center;
    
}


.special-card-image{
    position: relative;
    row-gap: 0.5rem;
}

.special-card-image img{
    height: 10rem;
    width: 10rem;
}

.special-card-footer{
    direction: ltr;
    width:15rem;
}

.special-card-footer .new-price{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.special-card-footer .disc-percent{
    background: rgb(160, 26, 26);
    border-radius: 45%;
    color: #fff;
    padding: 0.5rem;
    font-weight: 500;
}

.special-card-footer .price-after-disc{
    color: var(--black);
    font-size: 1.5rem;
    font-weight: 500;
}

.last-price{
    margin-top: 0.8rem;
}

.special-card-footer .price-before-disc{
    color: var(--light-color);
    text-decoration: line-through;
}

.empty-card{
    margin-top: 2rem;
    width: 20rem;
    background: transparent;
    height: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
}

.empty-card .title-text{
    text-align: center;
    color: var(--black);
    font-size: 1.5rem;
    font-weight: 500;
}

.empty-card img{
    height: 10rem;
    width: 14rem;
}

.empty-card a{
    color: var(--green);
    font-size: 1.5rem;
    text-decoration: underline;
}

.empty-card a:hover{
    transform: scale(1.2);
    color: #c41515;
}

.last-card{
    margin-top: 2rem;
    height: 16rem;
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.last-card a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.last-card a:hover{
    transform: scale(1.2);
}

.last-card i{
    padding: 1.5rem;
    color: var(--black);
    font-size: 3rem;
    border: solid 0.5rem var(--black);
    border-radius: 100%;
}

.last-card span{
    font-size: 2rem;
    color: var(--black);
}

.special-nav-btn{
    color: var(--black);
    border: 0.1rem solid var(--black);
    border-radius: 100%;
}

.special-nav-btn::before,
.special-nav-btn::after{
    font-size: 1.5rem;
}

.special-nav-btn:hover{
    color: #eee;
    background: var(--black);
}


/* icons section starts */
.icons-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem , 1fr));
    gap: 1.5rem;
}

.icons-container .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 2rem 0;
}

.icons-container .icon i{
    font-size: 3.5rem;
    color: var(--green);
}

.icons-container .icon .content h3{
    font-size: 2.2rem;
    color: var(--black);
    padding-bottom: 0.5rem;
}

.icons-container .icon .content p{
    font-size: 1.4rem;
    color: var(--light-color);
}

/* contact us section starts */
.contact{
    height: 35rem;
    text-align: center;
    margin-bottom: 2rem;
}

.contact h2{
    font-size: 4rem;
    padding: 1rem;
    color: var(--black);
}

.contact p{
    font-size: 2rem;
    color: var(--black);
    padding-bottom: 1rem;
}


.contact .contact-ways{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5rem;
}

.contact .contact-ways h6{
    font-size: 1.5rem;
    color: var(--black);
}

.contact .contact-ways span{
    font-size: 1rem;
    color: var(--light-color);
}

.contact .contact-ways .fa-phone{
    color: rgb(22, 101, 22);
}
.contact .contact-ways .fa-phone::before{
    font-size: 2.5rem;
}



.contact .contact-ways .fa-envelope{
    color: rgb(227, 209, 15);
    
}
.contact .contact-ways .fa-envelope::before{
    font-size: 2.5rem;
}

.contact .contact-ways .fa-whatsapp{
    color: green;
}
.contact .contact-ways .fa-whatsapp::before{
    font-size: 2.5rem;
}



.contact .contact-ways .fa-telegram{
    color: rgb(0, 136, 204);
}
.contact .contact-ways .fa-telegram::before{
    font-size: 2.5rem;
}


/* footer section starts */
.footer{
    border-top: 1rem solid var(--dark-color);
    padding: 2rem;
    background: rgb(176, 181, 176);
}

.footer .footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.footer .footer-content .footer-item{
    width: 25%;
    height: 25rem;
}

.footer-content .footer-content-title{
    display: inline-block;
    font-size: 2rem;
    padding-right: 0.5rem;
    margin-bottom: 1rem;
    border-right: 0.3rem solid var(--green);
    border-bottom: 0.1rem dashed var(--green);
}

.footer-content .data{
    font-size: 1.5rem;
    color: var(--black);
    text-align: right;
    line-height: 3rem;
    
}

.footer-content .footer-item p{
    width: 100%;
    text-align: center;
}

.footer-content .links-container{
    display: flex;
    flex-direction: column;
    justify-content: right;
}


.footer-content a{
    width: fit-content;
    display: inline;
    color: var(--black);
}

.footer-content .data a:hover{
    color: var(--green);
}

.footer-content .address .data{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer-content .address .data i{
    font-size: 2rem;
    padding-left: 0.5rem;
}

.footer .permissions{
    margin-bottom: 3rem;
}

.footer .permissions h2{
    border-bottom: 0.3rem solid var(--green);
    text-align: center;
    color: var(--black);
    font-size: 2rem;
    font-weight: 400;
}

.footer .permissions .images-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.footer .permissions img{
    width: 5%;
    max-height: 20%;
    margin: 2rem;
    cursor: pointer;
}

.footer .permissions img:hover{
    transform: scale(0.9);
}



















@media(max-width:991px){
    html{
        font-size: 55%;
    }
}


@media(max-width:768px){
    .header-1 .content{
        display: none;
    }

    .header .header-2 .mobile-items #search-btn{
        display: inline;
    } 

    .header .header-2{
        box-shadow: var(--box-shadow);
    }

    .header .header-2 .search-form{
        position: absolute;
        top: -115%; right: 2rem;
        width: 90%;
        box-shadow: var(--box-shadow);
    }

    .header .header-2 .search-form.active{
        top: +12rem;
    }

    .header .header-2 .logo img{
        height: 10rem;
        width: 10rem;
    }

    .header-3{
        display: none;
    }

    .bot-nav .bottom-navbar{
        display: flex;
    }

    .icons-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-flow: row dense;
        gap: 1.5rem;
    }
      
    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem 0;
    }

    .footer .permissions{
        margin-top: 20rem;
    }
}



@media(max-width:450px){
    html{
        font-size: 50%;
    }


    .bot-nav .bottom-navbar a{
        font-size: 1.8rem;
    }
    
    .cart-section .cart{
        /* opening */
        width: 85%;
    }

    .icons-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-flow: row dense;
        gap: 1.5rem;
    }
      
    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem 0;
    }
}


