@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --dark-color: rgb(25, 55, 109);
    --green: rgb(87, 107, 189);
    --black:#444;
    --light-color:#666;
    --border:0.1rem solid rgba(0,0,0,0.1);
    --border-hover:0.1rem solid var(--black);
    --box-shadow:0 0.5rem 1rem rgba(0,0,0,0.1);
}


*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition: all 0.2s linear;
    transition: width none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}



::after, ::before{
    box-sizing: border-box;
}

/* scrollbar  */
html::-webkit-scrollbar{
    width: 1.2rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--black);
}



/* btn */
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 0.9rem 3rem;
    border-radius: 0.5rem;
    color: #fff;
    background: var(--dark-color);
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
}

.btn:hover{
    background: var(--green);
    transform: scale(0.95);
}

/* heading section */
.heading{
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
    
}

.heading::before{
    content: '';
    position: absolute;
    top: 50%; left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 0.01rem;
    background: rgba(0,0,0,0.1);
    z-index: -1;
    
}

.heading span{
    font-size: 3rem;
    padding: 0.5rem 2rem;
    color: var(--black);
    background: #fff;
    border: var(--border);
}


/* header section starts*/
/* hesder-1 */
.header{
    width: 100%;
}


.header .header-1{
    display: flex;
    width: 100%;
    height: 4rem;
    background: rgb(225, 226, 220);
    align-items: center;
    justify-content: space-between;
}

.header .header-1 .icons{
    padding-right: 2rem;
    font-size: 2.5rem;
    width: 100%;
}

.header .header-1 .icons i{
    color: var(--black);
}

.header .header-1 .icons i:hover{
    color: var(--green);
    transform: scale(1.2);
}

.header .header-1 .content{
    font-size: larger;
    width: 100%;
}

.header .header-1 .content span{
    color: var(--dark-color);
    font-weight: bolder;
}

.header .header-1 .login{
    color: var(--light-color);
    font-size: 1.1rem;
    border: var(--border);
    cursor: pointer;
    padding: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.3rem;
    width: 30rem;
    text-align: center;
    margin-left: 2rem;
}

.header .header-1 .login:hover{
    border: var(--border-hover);
}

.header .header-1 .login i{
    padding-left: 0.4rem;
}

/* login section styles */
.login-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0; right: -200%;
    z-index: 10000;
    height: 100%;
    width: 100%;
}

.login-container.active{
    right: 0;
}

.login-container form{
    background: #fff;
    border: var(--border);
    width: 40rem;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
    margin: 2rem;
}

.login-container form img{
    height: 20rem;
    width: 20rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.login-container form h3{
    font-size: 2.5rem;
    color: var(--black);
    text-align: center;
}

.login-container form span{
    font-size: 1.5rem;
    display: block;
    padding-top: 1rem;
    color: var(--black);
}

.login-container form .box{
    width: 100%;
    margin: 0.7rem 0;
    font-size: 1.6rem;
    border: var(--border);
    border-radius: 0.5rem;
    padding: 1rem 1.2rem;
    color: var(--black);
    direction: ltr;
}

.login-container form .btn{
    text-align: center;
    width: 100%;
    margin:1.5rem 0;
    color: #fff !important;
}

.login-container #close-login-btn{
    position: absolute;
    top: 1.5rem;
    right:2.5rem;
    font-size: 5rem;
    color: var(--black);
    cursor: pointer;
}

.resend{
    color: var(--light-color);
    font-size: 1rem;
    cursor: pointer;
}

.resend:hover{
    color: var(--green);
}


/* verifying section styles */
.verifying{
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0; right: -200%;
    z-index: 10000;
    height: 100%;
    width: 100%;
}

.verifying.active{
    right: 0;
}

.verifying form{
    background: #fff;
    border: var(--border);
    width: 40rem;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
    margin: 2rem;
}

.verifying form img{
    height: 20rem;
    width: 20rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.verifying form h3{
    font-size: 2.5rem;
    color: var(--black);
    text-align: center;
}

.verifying form span{
    font-size: 1.5rem;
    display: block;
    padding-top: 1rem;
    color: var(--black);
}

.verifying form .box{
    width: 100%;
    margin: 0.7rem 0;
    font-size: 1.6rem;
    border: var(--border);
    border-radius: 0.5rem;
    padding: 1rem 1.2rem;
    color: var(--black);
    direction: ltr;
}

.verifying form .btn{
    text-align: center;
    width: 100%;
    margin:1.5rem 0;
}

.verifying #close-verifying-btn{
    position: absolute;
    top: 1.5rem;
    right:2.5rem;
    font-size: 5rem;
    color: var(--black);
    cursor: pointer;
}

/* header-2  */
.header .header-2{
    width: 100%;
    height: 9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-2 .logo img{
    width: 12rem;
    height: 12rem;
}

.header .header-2 .search-form{
    width:50rem;
    height: 5rem;
    border: var(--border);
    overflow: hidden;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
}

.header .header-2 .search-form:hover{
    border: var(--border-hover);
}

.header .header-2 .search-form input{
    font-size: 1.6rem;
    padding: 0 1.2rem;
    height: 100%;
    width: 100%;
    text-transform: none;
    color: var(--black);
}

.header .header-2 .search-form label{
    font-size: 2.5rem;
    padding-left: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .header-2 .search-form label:hover{
    color: var(--green);
}

.mobile-items{
    display: flex;
}

.mobile-items #products{
    font-size: 2.5rem;
    margin-left: 1.5rem;
    display: none;
}

.mobile-items #products:hover{
    color: var(--green);
}

.mobile-items #search-btn{
    font-size: 2.5rem;
    margin-left: 1.5rem;
    display: none;
}

.mobile-items #search-btn:hover{
    color: var(--green);
}

.header .header-2 .cart-icon{
    margin-left: 2rem;
    cursor: pointer;
    position: relative;
    display: inline-block;    
}


.header .header-2 .cart-icon:hover{
    color: var(--green);
}

.header .header-2 .cart-icon i{
    font-size: 2.8rem ;
    margin-left: 0.6rem;
}

.header .header-2 .cart-icon span{
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    font-size: 12px;
    padding: 2px 5px;
    border-radius: 50%;
}


/* cart styles section starts */

.cart-section .cart{
    /* opening */
    -webkit-transform: translateX(0);
    transform: translateX(0);
    position: fixed;
    top: 0;
    left: 0;
    right: 300%;
    display: block;
    overflow: hidden;
    z-index: 10000;
    width: 400px;
    height: 100vh;
    padding: 20px 10px 20px 30px;
    transition: all 0.5s ease 0s;
    transform: translateX(100%);
    background-color: #fff;
    box-shadow: var(--box-shadow);
}

.cart-section .cart.active{
    right: 100%;
}



.cart-section .cart .scrollbar::-webkit-scrollbar{
    width: 3px;
    background: transparent;
    border-radius: 30px;
}

.cart-section .cart .scrollbar::-webkit-scrollbar-thumb{
    background: var(--black);
}


.cart-section .cart .scrollbar{
    overflow-y: auto;
}

.cart-section .cart .cart-content{
    position: relative;
    z-index: 9;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    height: 100%;
    touch-action: auto;
    overflow-x: hidden !important;
    padding-left: 20px;
}

.cart-section .cart .cart-content .cart-header{
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 25px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.cart-section .cart .cart-content .cart-header span{
    font-weight: 500;
    font-size: 2.5rem;
    color: var(--black);
}

.cart-section .cart .cart-content .cart-header button{
    background-color: transparent;
    font-size: 30px;
    padding: 0 15px;
    cursor: pointer;
    outline: none;
    border: none;
    line-height: inherit;
}

.cart-section .cart .cart-content .cart-items{
    max-height: calc(100% - (60px + 245px));
}

.cart-section .cart .cart-content .cart-items .cart-product{
    border-top: 0;
}

.cart-section .cart .cart-content .cart-items .cart-product{
    padding-top: 20px;
    padding-right: 10px;
    margin-bottom: 20px;
    border-top: var(--border);
}

.cart-section .cart .cart-content .cart-items .clearfix::after{
    display: block;
    clear: both;
    content: "";
}

.cart-section .cart .cart-content .cart-items .cart-product .image{
    float: right;
    width: 80px;
    margin-left: 15px;
    position: relative;
}

.cart-section .cart .cart-content .cart-items .cart-product .image img{
    width: 8rem;
    height: 8rem;
}

.cart-section .cart .cart-content .cart-items .cart-product .image .delete-mark{
    position: absolute;
    right: -8px;
    top: -8px;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    display: block;
    line-height: 20px;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    box-shadow: var(--box-shadow);
}

.cart-section .cart .cart-content .cart-items .cart-product .info{
    overflow: hidden;
}

.cart-section .cart .cart-content .cart-items .cart-product .info h6{
    display: block;
    font-size: 0.67cm;
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
    color: var(--black);
    font-weight: 600;
    line-height: 1.3rem;
}

.cart-section .cart .cart-content .cart-items .cart-product .info .quantity-price{
    font-size: 14px;
    font-weight: 400;
}

.cart-section .cart .cart-content .cart-footer{
    margin-top: 25px;
}

.cart-section .cart .cart-content .cart-footer .price{
    border-top: var(--border);
    border-bottom: var(--border);
    padding: 15px 0;
}

.cart-section .cart .cart-content .cart-footer .price h5{
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 500;
    clear: both;
    color: var(--black);
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.cart-section .cart .cart-content .cart-footer .price span{
    color: var(--green);
}

.cart-section .cart .cart-content .cart-footer .buttons{
    margin-top: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 25px 0 15px;
}

.cart-section .cart .cart-content .cart-footer .buttons a{
    padding: 10px 20px;
    font-size: 15px;
    margin-bottom: 5px;
}

.cart-section .cart .cart-content .cart-footer p{
    font-size: 14px;
    margin-bottom: 0;
    font-weight: 300;
    margin-top: 0;
    color: var(--black);
}


/* header-3 section starts */
.header-3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--dark-color);
    width: 100%;
    height: 6rem;
}

.header-3 .navbar{
    margin-right: 18rem;
}

.header-3 .navbar a{
    color: #fff;
    font-size: 1.7rem;
    display: inline-block;
    padding: 1.2rem;
    border-radius: 1rem;
}

.header-3 .categories-bar{
    
    margin-left: 10rem;
    cursor: pointer;
    border-radius: 1rem;
}


.header-3 .categories-bar span{
    margin-right: 0;
    color: #fff;
    font-size: 1.7rem;
    padding: 1.2rem;
    display: inline-block;
    border-radius: 1rem;
}

.header-3 .categories-bar i{
    font-size: 2rem;
    padding-right: 1rem;
    color: #fff;
}

.header-3 .navbar a:hover,
.header-3 .categories-bar:hover{
    background: var(--green);
}

.header .header-3.active{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}


.bot-nav .bottom-navbar{
    font-size: 2rem;
    background: var(--dark-color);
    bottom: 0; right: 0; left: 0;
    position: fixed;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.bot-nav .bottom-navbar a{
    font-size: 1.5rem;
    padding: 1.7rem;
    color: #fff;
}

.bot-nav .bottom-navbar a:hover{
    background: var(--green);
}

/* dropdown categories list starts */
.dropdown-list{
    background-color: rgba(25, 55, 109, 0.8);
    position: fixed;
    left: 2.5rem;
    z-index: 10000;
    transition: all 0.5s ease 0s;
    box-shadow: var(--box-shadow);
    width: 27.5rem;
    height: 40rem;
    border-radius: 20px;
    padding:0 15px 0 15px;
    display: none;
}

.dropdown-list.active{
    display: block;
    top: 20rem;
}

.dropdown-list.active-2{
    display: block;
    top: 95px;
}

.dropdown-list .scrollbar::-webkit-scrollbar{
    width: 3px;
    background: transparent;
    border-radius: 30px;
}

.dropdown-list .scrollbar::-webkit-scrollbar-thumb{
    background: var(--black);
}

.dropdown-list .scrollbar{
    overflow-y: auto;
}



.dropdown-list .dropdown-list-content{
    position: relative;
    z-index: 9;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    height: 100%;
    touch-action: auto;
    overflow-x: hidden !important;
}

.dropdown-list .dropdown-list-content .dropdown-list-header{
    border-bottom: 1px solid #eee;
}

.dropdown-list .dropdown-list-content .dropdown-list-header button{
    background-color: transparent;
    font-size: 30px;
    padding: 0 15px;
    cursor: pointer;
    outline: none;
    border: none;
    line-height: inherit;
    color: #fff;
}

.dropdown-list .dropdown-list-content .dropdown-list-header button:hover{
    color: var(--black);
}

.dropdown-list .dropdown-list-content .dropdown-list-items{
    display: grid;
    grid-template-rows: 5;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.dropdown-list .dropdown-list-content .dropdown-list-items a{
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    border-bottom: 1px solid var(--black);
    width: 100%;
    text-align: center;
    max-height: 100;
    padding: 1rem 0 1rem 0;
}

.dropdown-list .dropdown-list-content .dropdown-list-items a:hover{
    background-color: #fff;
    color: var(--green);
    padding: 1.2rem;
    border-radius: 5px;
}

.dropdown-list .dropdown-list-content .dropdown-list-footer{
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-list .dropdown-list-content .dropdown-list-footer a{
    color: black;
    font-size: 1.5rem;
    padding: 1rem;
}

.dropdown-list .dropdown-list-content .dropdown-list-footer a:hover{
    color: #fff;
}


/* special product section starts */
.special-slide-container{
    max-width: 90%;
    height: 25rem;
    background: rgb(225, 226, 220);
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.swiper-header h1{
    text-align: center;
    padding: 0 2rem 2rem 2rem;
    font-size: 2.5rem;
    color: var(--black);
}

.special-slide-content{
    margin: 4rem 4rem;
    overflow: hidden;
}

.special-card{
    border-radius: 25px;
    background-color: #efefef;
    box-shadow: var(--box-shadow);
    height: 20rem;
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.special-card:hover{
    border: var(--border-hover);
    transform: scale(0.9);
}

.special-article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.special-card-content{
    display: flex;
    justify-content: center;
    
}


.special-card-image{
    position: relative;
    row-gap: 0.5rem;
}

.special-card-image img{
    height: 10rem;
    width: 10rem;
}

.special-card-footer{
    direction: ltr;
    width:15rem;
}

.special-card-footer .new-price{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.special-card-footer .disc-percent{
    background: rgb(160, 26, 26);
    border-radius: 45%;
    color: #fff;
    padding: 0.5rem;
    font-weight: 500;
}

.special-card-footer .price-after-disc{
    color: var(--black);
    font-size: 1.5rem;
    font-weight: 500;
}

.last-price{
    margin-top: 0.8rem;
}

.special-card-footer .price-before-disc{
    color: var(--light-color);
    text-decoration: line-through;
}

.empty-card{
    margin-top: 2rem;
    width: 20rem;
    background: transparent;
    height: 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
}

.empty-card .title-text{
    text-align: center;
    color: var(--black);
    font-size: 1.5rem;
    font-weight: 500;
}

.empty-card img{
    height: 10rem;
    width: 14rem;
}

.empty-card a{
    color: var(--green);
    font-size: 1.5rem;
    text-decoration: underline;
}

.empty-card a:hover{
    transform: scale(1.2);
    color: #c41515;
}

.last-card{
    margin-top: 2rem;
    height: 16rem;
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.last-card a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.last-card a:hover{
    transform: scale(1.2);
}

.last-card i{
    padding: 1.5rem;
    color: var(--black);
    font-size: 3rem;
    border: solid 0.5rem var(--black);
    border-radius: 100%;
}

.last-card span{
    font-size: 2rem;
    color: var(--black);
}

.special-nav-btn{
    color: var(--black);
    border: 0.1rem solid var(--black);
    border-radius: 100%;
}

.special-nav-btn::before,
.special-nav-btn::after{
    font-size: 1.5rem;
}

.special-nav-btn:hover{
    color: #eee;
    background: var(--black);
}


/* icons section starts */
.icons-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem , 1fr));
    gap: 1.5rem;
    padding: 1rem 0 1rem 0;
}

.icons-container .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 2rem 0;
}

.icons-container .icon i{
    font-size: 3.5rem;
    color: var(--green);
}

.icons-container .icon .content h3{
    font-size: 2.2rem;
    color: var(--black);
    padding-bottom: 0.5rem;
}

.icons-container .icon .content p{
    font-size: 1.4rem;
    color: var(--light-color);
}

/* contact us section starts */
.contact{
    text-align: center;
    margin-bottom: 2rem;
}

.contact h2{
    font-size: 4rem;
    padding: 1rem;
    color: var(--black);
}

.contact p{
    font-size: 2rem;
    color: var(--black);
    padding-bottom: 1rem;
}


.contact .contact-ways{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contact .contact-ways h6{
    font-size: 1.5rem;
    color: var(--black);
}

.contact .contact-ways span{
    font-size: 1rem;
    color: var(--light-color);
}

.contact .contact-ways .fa-phone{
    color: rgb(22, 101, 22);
}
.contact .contact-ways .fa-phone::before{
    font-size: 2.5rem;
}



.contact .contact-ways .fa-envelope{
    color: rgb(227, 209, 15);
    
}
.contact .contact-ways .fa-envelope::before{
    font-size: 2.5rem;
}

.contact .contact-ways .fa-whatsapp{
    color: green;
}
.contact .contact-ways .fa-whatsapp::before{
    font-size: 2.5rem;
}



.contact .contact-ways .fa-telegram{
    color: rgb(0, 136, 204);
}
.contact .contact-ways .fa-telegram::before{
    font-size: 2.5rem;
}


/* footer section starts */
.footer{
    border-top: 1rem solid var(--light-color);
    padding: 2rem;
    background: rgb(48, 48, 48);
}

.footer .footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.footer .footer-content .footer-item{
    width: 25%;
    height: 25rem;
}

.footer-content .footer-content-title{
    display: inline-block;
    color: #fff;
    font-size: 2rem;
    padding-right: 0.5rem;
    margin-bottom: 1rem;
    border-right: 0.3rem solid var(--light-color);
    border-bottom: 0.1rem dashed var(--light-color);
}

.footer-content .data{
    font-size: 1.5rem;
    color: #ffffff;
    text-align: right;
    line-height: 3rem;
    
}

.footer-content .footer-item p{
    width: 100%;
    text-align: center;
}

.footer-content .links-container{
    display: flex;
    flex-direction: column;
    justify-content: right;
}


.footer-content a{
    width: fit-content;
    display: inline;
    color: #ffffff;
}

.footer-content .data a:hover{
    color: var(--green);
}

.footer-content .address .data{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer-content .address .data i{
    font-size: 2rem;
    padding-left: 0.5rem;
}

.footer .permissions{
    margin-bottom: 3rem;
}

.footer .permissions h2{
    border-bottom: 0.3rem solid var(--light-color);
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 400;
}

.footer .permissions .images-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.footer .permissions img{
    width: 10rem;
    margin: 2rem;
}

.footer .permissions img:hover{
    transform: scale(0.9);
}


/* cart page custom header styles section starts */
.header-text-container{
    height: 10rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.level-text{
    font-size: 2rem;
    color: var(--green);
    cursor: pointer;
}

.level-text:hover{
    color: rgb(31, 95, 134);
}

.arrows{
    font-size: 2rem;
    color: var(--dark-color);
}

.this-level{
    border-bottom: 0.2rem solid var(--green);;
}
/* cart page custom header styles section ends */

.main{
    display: flex;
    justify-content: space-around;
    align-items: start;
}

.products-list{
    width:60%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    height: 40rem;
    overflow-y: scroll;
    padding: 5rem;
}

.products-list::-webkit-scrollbar {
    width: 12px; 
}

.products-list::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
}

.products-list::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 6px; 
}

.products-list::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
}

.product-item{
    display:flex;
    align-items: center;
    gap: 2rem;
    border-radius: 2rem;
    padding: 1rem;
    border-radius: 2rem;
    box-shadow: -1px 3px 45px 2px rgba(0, 0, 0, 0.26);
}

.product-item img{
    width: 12rem;
}

.description{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem 0 4rem;
}

.item-description{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.product-name{
    font-size: 2.5rem;
}

.price{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.price-after-cost{
    font-size: 2rem;
    color: var(--black);
}

.price-before-cost{
    font-size: 1.5rem;
    color: var(--light-color);
    text-decoration: line-through;
}

.quantity-title{
    font-size: 2rem;
    color: var(--black);
    padding-left: 0.5rem;
}

.quantity-button{
    font-size: 2rem;
    background-color: #fff;
    color: var(--black);
    cursor: pointer;
}

#quantity{
    width:2rem;
    text-align: center;
}

.decrease-btn:hover{
    color: red;
}

.increase-btn:hover{
    color: green;
}

.fa-trash-can{
    font-size: 2rem;
    color: var(--black);
    cursor: pointer;
}

.fa-trash-can:hover{
    color: red;
}


/* total price section starts */
.total-price{
    box-shadow: -1px 3px 45px 2px rgba(0, 0, 0, 0.26);
    border-radius: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.price-must-paid{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: var(--border-hover);
}

.price-must-paid-title{
    font-size: 2rem;
}

.price-must-paid-value{
    font-size: 1.5rem;
}

.container-in-price-section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.title-in-price-section{
    font-size: 1.5rem;
}

.value-in-price-section{
    font-size: 1.3rem;
    color: #e93232;
}
/* total price section ends */


/* login page styles starts */
.login-section{
    margin-top: 3.5rem;
    text-align: center;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.login-page-title{
    font-size: 3rem;
}

.login-form{
    background: #fff;
    border: var(--border);
    width: 40rem;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
    margin: 2rem;
}

.form-title{
    font-size: 2.5rem;
    color: var(--black);
    text-align: center;
}

.get-info-span{
    font-size: 1.5rem;
    display: block;
    padding-top: 1rem;
    color: var(--black);
}

.box{
    width: 100%;
    margin: 0.7rem 0;
    font-size: 1.6rem;
    border: var(--border);
    border-radius: 0.5rem;
    padding: 1rem 1.2rem;
    color: var(--black);
    direction: ltr;
}

.box:hover{
    border: var(--border-hover);
}







/* information page styles starts */
.information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 3rem 0 3rem 0;
}

.information-container{
    box-shadow: -1px 3px 45px 2px rgba(0, 0, 0, 0.26);
    padding: 2rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 40rem;
}

.information-title{
    font-size: 2.5rem;
    color: var(--black);
}

.information-option{
    display: flex;
    flex-direction: column;
}

.information-input{
    border: var(--border);
    padding: 0.5rem;
}

.information-input:hover{
    border: var(--border-hover);
}

.information-option label{
    font-size: 1.5rem;
}

.star{
    color: red;
}

.submition-information{
    text-align: center;
}





/* final page styles */
.final{
    display: flex;
    justify-content: center;
}

.final-content-container{
    padding: 2rem;
    width: 50%;
    box-shadow: -1px 3px 45px 2px rgba(0, 0, 0, 0.26);
    border-radius: 3rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.centeral-content{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    
}

.fa-circle-check{
    color: green;
    font-size: 7rem;
}

.centeral-text{
    font-size: 2rem;
    font-weight: bolder;
    color: var(--black);
}

.summary-info{
    margin: 2rem 0 2rem 0;
    display: flex;
    justify-content: space-around;
}

.partition{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.inpo-partition{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.info-title{
    font-size: 1.5rem;
}

.info-value{
    font-size: 1rem;
}



/* footers page styles starts */
.main-content-container{
    display: flex;
    justify-content: center;
}

.main-content-header{
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
    margin: 3rem 0 3rem 0;
}

.main-text-content{
    margin-bottom: 3rem;
    width: 80%;
    background-color: #fff;
    border-radius: 5rem;
    box-shadow: -1px 3px 45px 2px rgba(0, 0, 0, 0.26);
    padding: 3rem;
    font-size: 1.5rem;
    line-height: 3rem;
}

/* products page styles */
/* custom product header section starts */
.custom-product-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 2rem 0 2rem;
}

.products-group-name{
    font-weight: 500;
    font-size: 2.5rem;
    margin-top: 2rem;
    color: var(--black);
}

.products-header{
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    width: 65%;
}

.products-header .products-count{
    color: var(--light-color);
}

.grouping{
    display: flex;
    gap: 1.5rem;
}

.grouping a{
    color: var(--black);
    padding:0 0.5rem 0 0.5rem;
    border-radius: 10px;
}

.grouping a:hover{
    background: #eee;
}

.product-page-home{
    display: flex;
    align-items: start;
}
/* custom product header section ends */



/* filter section starts */
.filters{
    width: 20%;
    margin-left: 0.5rem;
    padding: 1.5rem;
}

.filter-boxes{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.filters-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.filters-title{
    font-size: 3rem;
    font-weight: 600;
    color: var(--black);
}

.remove-filters{
    color: var(--dark-color);
    cursor: pointer;
}


.remove-filters:hover{
    color: rgb(169, 8, 8);
}


/* search in filter section starts */
.search-in-filters{
    padding: 1rem;
    border: 0.01rem solid var(--black);
    border-radius: 0.5rem;
}

.filter-search-title{
    font-size: 1.2rem;
    color: #000;
    padding-bottom: 0.5rem;
}


.filter-search-form{
    width:90%;
    height: 3rem;
    border: var(--border);
    background: #eee;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
}

.search-input{
    width: 100%;
    background: #eee;
}

.fa-magnifying-glass{
    font-size: 1.5rem;
    padding: 0.2rem;
}
/* search in filter section starts */

/* categories in filter section starts */
.box-in-filter{
    padding: 1rem;
    border: 0.01rem solid var(--black);
    border-radius: 0.5rem;
}

.close-box-in-filter{
    font-size: 2.5rem;
}

.grouping-list-label{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 1rem 0 1rem;
    cursor: pointer;
}

.grouping-list-label:hover{
    transform: scale(1.02);
}

.list{
    list-style: none;
}

.elem{
    text-align: center;
    font-size: 1.2rem;
    padding: 1.5rem 0 1.5rem 0;
    border-top: 0.01rem solid var(--light-color);
    cursor: pointer;
}


.elem:hover > .elem-span{
    color: var(--green);
    font-size: 1.5rem;
    font-weight: 600;
}


.box-in-filter .list {
    display: none;
}
  
.box-in-filter .list.active {
    display: block;
}
  
.box-in-filter.active label .close-box-in-filter {
    display: inline-block;
}


/* button section starts */
input[type="checkbox"] {
    width: 40px;
    height: 20px;
    position: relative;
    -webkit-appearance: none;
    background-color: #c6c6c6;
    border-radius: 20px;
    outline: none;
    transition: background-color 0.2s ease;
}
  
input[type="checkbox"]:checked {
    background-color: var(--dark-color);
}
  
input[type="checkbox"]::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.2s ease;
}
  
input[type="checkbox"]:checked::before {
    transform: translateX(20px);
}
/* button section ends */
/* filter section ends */




/* products section starts */
.product{
    width: 75%;
    margin: 0 2.5rem 0 3rem;
    padding: 1.5rem;    
}

.products-container{
    border: 0.01rem solid var(--black);
    
}

.container{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.product-article{
    background: rgba(87, 107, 189, 0.2);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    border:0.1rem solid var(--dark-color);
    width: fit-content;
}

.product-article:hover{
    border: var(--border-hover);
    transform: scale(0.9);
}

.special-card-image{
    position: relative;
    row-gap: 0.5rem;
}

.product-card-image{
    position: relative;
    row-gap: 0.5rem;
}

.product-card-image img{
    height: 10rem;
    width: 10rem;
}

.product-card-footer{
    direction: ltr;
    width:15rem;
}

.product-card-footer .product-name{
    direction: rtl;
    color: var(--black);
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.product-card-footer .new-price{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.product-card-footer .price-after-disc{
    color: var(--black);
    font-size: 1.5rem;
    font-weight: 500;
}


.product-card-footer .disc-percent{
    background: rgb(160, 26, 26);
    border-radius: 45%;
    color: #fff;
    padding: 0.5rem;
    font-weight: 500;
}

.last-price{
    margin-top: 0.8rem;
}

.product-card-footer .price-before-disc{
    color: var(--light-color);
    text-decoration: line-through;
}
/* product section ends */


/* another products section starts */
.another-product{
    padding-top: 3rem;
    border-top: 0.02rem solid #eee;
}


/* single product page styles */
.product-address{
    font-size: 1.5rem;
    color: var(--light-color);
    margin: 2rem;
}

.product-address a{
    color: var(--light-color);
}

.product-address a:hover{
    color: var(--green);
    font-size:1.7rem ;
}

.product{
    /* position: absolute; */
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 50%;
    top: 25%;
}

.image-section{
    display:flex;
    align-items: center;
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
    height:38rem;
    background: linear-gradient(45deg, #267cbf 5%, #99cf6d 92%);
    width: 45rem;
    box-shadow: -1px 3px 45px 2px rgba(0, 0, 0, 0.26);
    border-radius: 1.2rem 1.2rem 1.2rem 1.2rem;
}

.image img{
    position: relative;
    opacity:1;
    height: 30rem;
    filter: drop-shadow(1px 5px 10px rgba(0, 0, 0, 0.4));
}

.another-images{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 15rem;
    height: 35rem;
    overflow-y: scroll;
}

.another-image-option{
    border: var(--border);
    padding: 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
}

.another-image-option:hover{
    border: var(--border-hover);
}

.another-image-option {
    width: 10rem;
    height: 10rem;
}

/* images scrollbar styles */
.another-images::-webkit-scrollbar {
    direction: ltr;
    height: 0.3rem; 
}
  
.another-images::-webkit-scrollbar-thumb {
    background-color: var(--dark-color); 
    border-radius: 0.4rem; 
}
  
.another-images::-webkit-scrollbar-thumb:hover {
    background-color: var(--green);
}
  
.another-images::-webkit-scrollbar-track {
    background-color: #eee;
    border-radius: 0.4rem;
}
/* scrollbar styles ends */

.description{
    height: 90%;
    flex-basis: 30%;
    padding: 3rem 2.5rem;
    box-shadow: -1px 3px 45px 2px rgba(0, 0, 0, 0.26);
    border-radius: 1.2rem;
    background: #fdf8f8;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.product-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-price{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price-after-cost{
    font-size: 2.5rem;
    color: var(--black);
}

.price-before-cost{
    font-size: 1.8rem;
    text-decoration: line-through;
    color: var(--light-color);
}

.rating{
    font-size: 2.5rem;
    color: #ffca00;
}


.category-name{
    font-size: 3rem;
    font-weight: 1900;
}

.product-name{
    font-size: 1.8rem;
    color: var(--black);
}

.title{
    font-size: 1.5rem;
    font-weight: 300;
}

.caption{
    height: 8rem;
    margin-bottom: 1.5rem;
    overflow-y: scroll;
}

/* caption webkit scrollbar customize */
.caption::-webkit-scrollbar {
    direction: ltr;
    height: 0.3rem; 
    width: 0.3rem;
}
  
.caption::-webkit-scrollbar-thumb {
    background-color: var(--dark-color); 
    border-radius: 0.4rem; 
}
  
.caption::-webkit-scrollbar-thumb:hover {
    background-color: var(--green);
}
  
.caption::-webkit-scrollbar-track {
    background-color: #eee;
    border-radius: 0.4rem;
}



.color{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.color-items-container{
    display: flex;
    gap: 0.8rem;
}

.color-items{
    font-size: 2.5rem;
    cursor: pointer;
}

.white{
    width: 3rem;
    height: 3rem;
    border:0.1rem solid #434348;
    border-radius: 100%;
    background-color: #ffffff;
}

.black{
    width: 3rem;
    height: 3rem;
    border:0.1rem solid #434348;
    border-radius: 100%;
    background-color: #000000;
}

.gray{
    width: 3rem;
    height: 3rem;
    border:0.1rem solid #434348;
    border-radius: 100%;
    background-color: #a09f9f;
}

.green-border {
    border: 0.3rem solid green;
    border-color: green;
}

#quantity{
    width: 5rem;
    background-color: #eee;
    text-align: cenetr;
}


.quantity-container {
    display: flex;
    align-items: center;
}
  
.quantity-button {
    width: 2rem;
    height: 2rem;
    background-color: #eee;
    border: none;
    border-radius: 0.2rem;
    font-size: 1rem;
    cursor: pointer;
}
  
.increase-btn:hover {
    background-color: rgb(45, 165, 45);
}

.decrease-btn:hover {
    background-color: rgb(237, 57, 57);
}

.add-to-cart-btn{
    text-align: center;
}



/* comments section starts */
.comments{
    margin-top: 3rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.comments-container{
    width: 65%;
    border: 0.1rem solid var(--green);
    border-radius: 2rem;
    box-shadow: -1px 3px 45px 2px rgba(0, 0, 0, 0.26);
}

.comments-header{
    background-color: var(--green);
    border-radius: 1.5rem 1.5rem 0 0;
    padding: 1rem 2rem 1rem 0;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.fa-message{
    font-size: 2.5rem;
    color: #fff;
}

.comments-title{
    font-size: 2rem;
    color: #fff;
}

.Posted-comments{
    margin: 3rem;
    border-bottom: 0.01rem solid #e6e6e6;
}

.name{
    font-weight: bolder;
    font-size: 2rem;
}

.message{
    padding-right: 1rem;
    font-size: 1.5rem;
    color: var(--black);
}

.message-rating{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.like-counter , .fa-thumbs-up{
    font-size: 2rem;
    color: green
}

.dislike-counter, .fa-thumbs-down{
    font-size: 2rem;
    color: red
}

.fa-thumbs-down, .fa-thumbs-up{
    cursor: pointer;
}

.leave-comment{
    padding: 2rem;
}

.leave-comment-title{
    padding-bottom: 2rem;
    font-size: 2rem;
}

.comments-inputs{
    display: flex;
    justify-content: space-around;
}

.input-option{
    width: 40%;
    padding: 0.5rem;
    border: 0.01rem solid rgb(232, 232, 232);
    border-radius: 0.5rem;
}

.comments-btn{
    background-color: var(--dark-color);
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 1rem;
    width: 8rem;
    cursor: pointer;
}

.comments-btn:hover{
    background-color: var(--green);
}



/* unavailable products styles */
.unavailable-product{
    color: red;
    font-size: 2rem;
    width: 100%;
    text-align: center;
}
















































































/* common sections responsive styles */
@media(max-width:991px){
    html{
        font-size: 55%;
    }
}

@media(max-width:768px){
    .header-1 .content{
        display: none;
    }

    .header .header-2 .mobile-items #search-btn{
        display: inline;
    } 

    .header .header-2{
        box-shadow: var(--box-shadow);
    }

    .header .header-2 .search-form{
        position: absolute;
        top: -115%; right: 2rem;
        width: 90%;
        box-shadow: var(--box-shadow);
    }

    .header .header-2 .search-form.active{
        top: +12rem;
    }

    .header .header-2 .logo img{
        height: 10rem;
        width: 10rem;
    }

    .header-3{
        display: none;
    }

    .bot-nav .bottom-navbar{
        display: flex;
    }


    .icons-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-flow: row dense;
        gap: 1.5rem;
    }
      
    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem 0;
    }

    .footer .permissions{
        margin-top: 20rem;
    }
    
}


@media(max-width:450px){
    html{
        font-size: 50%;
    }


    .bot-nav .bottom-navbar a{
        font-size: 1.8rem;
    }
    
    .cart-section .cart{
        /* opening */
        width: 85%;
    }

    .icons-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-flow: row dense;
        gap: 1.5rem;
    }
      
    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem 0;
    }
    
}



/* cartpage responsive styles */
@media(max-width:768px){
    .header-text-container{
        gap: 1rem;
    }
        
    .information-title{
        font-size: 2.2rem;
    }

    .login-page-title{
        font-size: 2.2rem;
    }

    .main{
        display: flex;
        flex-direction: column;
        gap: 6rem;
        align-items: center;
        overflow-x: hidden;
    }

    .products-list{
        width: 95%;
        padding: 2rem;
    }

    .product-item{
        width: 100%;
    }

    .product-item img{
        width: 8rem;
    }

    .description{
        padding: 0;
        justify-content: space-between;
    }

    .product-name{
        font-size: 2rem;
    }

    .total-price{
        width: 80%;
        height: auto;
        margin-bottom: 5rem;
    }

    .price-must-paid-title{
        font-size: 2.5rem;
        font-weight: 600;
    }

    .price-must-paid-value{
        font-size: 2rem;
        font-weight: 600;
    }

    .title-in-price-section{
        font-size: 2rem;
    }

    .value-in-price-section{
        font-size: 2rem;
    }

    .final-content-container{
        width: 90%;
        height: 90rem;
    }

    .summary-info{
        margin: 2rem 0 2rem 0;
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }

    .info-title{
        font-size: 1.8rem;
        text-align: center;
    }

    .partition{
        display: flex;
        justify-content: space-around;
        gap: 3rem;
    }

    .info-value{
        font-size: 1.5rem;
        text-align: center;
    }
    

}

@media(max-width:450px){
    .level-text{
        font-size: 1.2rem;
    }
    
    .arrows{
        font-size: 1rem;
    }
}



/* products page responsive styles */
@media(max-width:768px){
    .grouping{
        display: none;
    }

    .grouping-title{
        display: none;
    }

    .products-count{
        display: none;
    }

    .product-page-home{
        display: flex;
        flex-direction: column;
    }

    .filters{
        width: 100%;
        
    }

    .product{
        width: 90%;
        margin: 0 2.5rem 0 3rem;
        padding: 1.5rem;    
    }
}

/* single product page responsive styles  */
@media(max-width:768px){
    .product{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 3rem;
    }

    .image-section{
        flex-direction: column-reverse;
    }

    .another-images{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        width: 35rem;
        height: 15rem;
        overflow-y: hidden;
        overflow-x: scroll;
    }

    .image{
        height:30rem;
        background: linear-gradient(45deg, #267cbf 5%, #99cf6d 92%);
        width: 40rem;
        box-shadow: -1px 3px 45px 2px rgba(0, 0, 0, 0.26);
        border-radius: 1.2rem 1.2rem 1.2rem 1.2rem;
    }

    .image img{
        height: 20rem;
    }

    .description{
        width: 48rem;
    }

    .comments-container{
        width: 95%
    }

    .comments-inputs{
        flex-direction: column;
        width: 100%;
        gap: 1.5rem;
        align-items: center;
    }

    .input-option{
        width: 85%;
    }
    
}