:root{
    --dark-color: rgb(25, 55, 109);
    --green: rgb(87, 107, 189);
    --black:#444;
    --light-color:#666;
    --border:0.1rem solid rgba(0,0,0,0.1);
    --border-hover:0.1rem solid var(--black);
    --box-shadow:0 0.5rem 1rem rgba(0,0,0,0.1);
}

/* product description section starts */
.product-address{
    font-size: 1.5rem;
    color: var(--light-color);
    margin: 2rem;
}

.product-address a{
    color: var(--light-color);
}

.product-address a:hover{
    color: var(--green);
    font-size:1.7rem ;
}


.product-descriptipn-container{
    display: flex;
    gap: 10rem;
    border: 0.02rem solid #000;
    margin: 0 4rem 0 4rem;
    padding: 2rem;
}

/* images section starts */
.product-images{
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
}

.main-image{
    width: fit-content;
    text-align: center;
}

.main-image img{
    width: 30rem;
    height: 30rem;
}

.another-images{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    width: 35rem;
    height: 15rem;
    overflow-x: scroll;
}

/* images scrollbar styles */
.another-images::-webkit-scrollbar {
    height: 0.8rem; 
}
  
.another-images::-webkit-scrollbar-thumb {
    background-color: var(--dark-color); 
    border-radius: 0.4rem; 
}
  
.another-images::-webkit-scrollbar-thumb:hover {
    background-color: var(--green);
}
  
.another-images::-webkit-scrollbar-track {
    background-color: #eee;
    border-radius: 0.4rem;
}
/* scrollbar styles ends */


.another-image-option{
    border: var(--border);
    padding: 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
}

.another-image-option:hover{
    border: var(--border-hover);
}

.another-image-option{
    width: 10rem;
    height: 10rem;
}
/* images section ends */

/* descrioption section starts */
.product-description{
    width: 30%;
}

.product-full-name{
    width: 100%;
    font-size: 2rem;
    font-weight: 600;
    border-bottom: 0.2rem dashed #000;
}

.description-items{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.item{
    font-size: 1.5rem;
}

.linked-value{
    text-decoration: underline;
}

.value{
    color: var(--green);
}
/* description section ends */

/* buy product section starts */
.buy-product{
    border: var(--border);
    width: 30%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.availability{
    border-bottom: var(--border);
    font-size: 3rem;
    font-weight: 800;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark-color);
}

.price{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.new-price{
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-after-disc{
    font-size: 3.5rem;
    color: var(--black);   
}

.price-before-disc{
    color: var(--light-color);
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: line-through;
}

.last-price{
    padding-left: 5rem;
    direction: ltr;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.discount-percent{
    background: rgb(160, 26, 26);
    border-radius: 45%;
    color: #fff !important;
    padding: 0.5rem;
    font-weight: 500;
    font-size: 3rem;
}

.add-to-cart{
    display: flex;
    justify-content: center;
}
/* buy product section ends */


/* details comments section */
.details-comments{
    display: flex;
    justify-content: space-around;
    margin:0 4rem 4rem 4rem;
    background-color: #eee;
}



/* details section starts */
.details{
    margin: 3rem 4rem 3rem 4rem;
    border: 0.02rem solid #000;
    border-radius: 5rem;
    padding: 1.5rem;
    width: fit-content;
    height: fit-content;
}

.details-header{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: #000;
    cursor: pointer;
}

.text-content{
    color: var(--black);
    font-size: 1.5rem;
    text-align: right;
}

.text-content {
    display: none;
  }
  
.visible {
    display: block;
}
  
.border-opened {
    border-bottom: 0.02rem dashed var(--light-color);
}
/* details section ends */


/* comments section starts */
.comments{
    margin: 3rem 4rem 3rem 4rem;
    border: 0.02rem solid #000;
    border-radius: 5rem;
    padding: 1.5rem;
    width: fit-content;
    height: fit-content;
}

.comments-header{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: #000;
    cursor: pointer;
}



.comment-opened{
    border-bottom: 0.02rem dashed var(--light-color);
}

.add-comment{
    display: none;
    margin: 2rem;
}

.comments-container{
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.comments-container {
    display: none;
}

.single-comment-container{
    width: 30rem;
    border: 0.02rem solid rgb(160, 158, 158);
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}

.comment-container-header{
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
    font-weight: 600;
    border-bottom: 0.02rem solid rgb(160, 158, 158);;
}

.comment-container-content{
    text-align: center;
    font-size: 1.2rem;
    color: var(--black);
}

.comment-react{
    font-size: 1.5rem;
    display: flex;
    gap: 3rem;
    justify-content: center;
}

.comment-react-option{
    
    cursor: pointer;
}

.fa-thumbs-down, .dislikes-count{
    color: red;
}

.fa-thumbs-up, .likes-count{
    color: green;
}

/* new comments section starts */
.add-comment-container{
    display: none;
    align-items: center;
    justify-content: center;
    background:rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0; right: 0;
    z-index: 10000;
    height: 100%;
    width: 100%;
}

.add-comment-container.active{
    display: flex;
}

.add-comment-header-text{
    font-size: 2.5rem;
    color: var(--black);
    text-align: center;
}

.add-comment-content{
    background: #fff;
    border: var(--border);
    width: 40rem;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
    margin: 2rem;
}

#close-comment-btn{
    position: absolute;
    top: 10%;
    right:30%;
    font-size: 5rem;
    color: var(--black);
    cursor: pointer;
}

#close-comment-btn:hover{
    color: var(--green);
    transform: scale(1.2);
}

.box{
    width: 100%;
    margin: 0.7rem 0;
    font-size: 1.6rem;
    border: var(--border);
    border-radius: 0.5rem;
    padding: 1rem 1.2rem;
    color: var(--black);
}

.get-data{
    font-size: 1.5rem;
    display: block;
    padding-top: 1rem;
    color: var(--black);
}

.sending-comment-btn{
    text-align: center;
    width: 100%;
    margin:1.5rem 0;
}
/* comments section ends */




























@media(max-width:768px){
    .product-descriptipn-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5rem;
    }
    
    .product-images{
        width: 100%;
    }

    .main-image img{
        width: 25rem;
        height: 25rem;
    }

    .product-description{
        width: 100%;
        height: fit-content;
    }

    .buy-product{
        width: 100%;
        height: fit-content;
    }
    
}