.product-address{
    font-size: 1.5rem;
    color: var(--light-color);
    margin: 2rem;
}

.product-address a{
    color: var(--light-color);
}

.product-address a:hover{
    color: var(--green);
    font-size:1.7rem ;
}

.product{
    /* position: absolute; */
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 50%;
    top: 25%;
}

.image-section{
    display:flex;
    align-items: center;
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
    height:38rem;
    background: linear-gradient(45deg, #267cbf 5%, #99cf6d 92%);
    width: 45rem;
    box-shadow: -1px 3px 45px 2px rgba(0, 0, 0, 0.26);
    border-radius: 1.2rem 1.2rem 1.2rem 1.2rem;
}

.image img{
    position: relative;
    opacity:1;
    height: 30rem;
    filter: drop-shadow(1px 5px 10px rgba(0, 0, 0, 0.4));
}

.another-images{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 15rem;
    height: 35rem;
    overflow-y: scroll;
}

.another-image-option{
    border: var(--border);
    padding: 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
}

.another-image-option:hover{
    border: var(--border-hover);
}

.another-image-option {
    width: 10rem;
    height: 10rem;
}

/* images scrollbar styles */
.another-images::-webkit-scrollbar {
    direction: ltr;
    height: 0.3rem; 
}
  
.another-images::-webkit-scrollbar-thumb {
    background-color: var(--dark-color); 
    border-radius: 0.4rem; 
}
  
.another-images::-webkit-scrollbar-thumb:hover {
    background-color: var(--green);
}
  
.another-images::-webkit-scrollbar-track {
    background-color: #eee;
    border-radius: 0.4rem;
}
/* scrollbar styles ends */

.description{
    height: 90%;
    flex-basis: 30%;
    padding: 3rem 2.5rem;
    box-shadow: -1px 3px 45px 2px rgba(0, 0, 0, 0.26);
    border-radius: 1.2rem;
    background: #fdf8f8;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.product-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-price{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price-after-cost{
    font-size: 2.5rem;
    color: var(--black);
}

.price-before-cost{
    font-size: 1.8rem;
    text-decoration: line-through;
    color: var(--light-color);
}

.rating{
    font-size: 2.5rem;
    color: #ffca00;
}


.category-name{
    font-size: 3rem;
    font-weight: 1900;
}

.product-name{
    font-size: 1.8rem;
    color: var(--black);
}

.title{
    font-size: 1.5rem;
    font-weight: 300;
}

.caption{
    height: 8rem;
    margin-bottom: 1.5rem;
    overflow-y: scroll;
}

/* caption webkit scrollbar customize */
.caption::-webkit-scrollbar {
    direction: ltr;
    height: 0.3rem; 
    width: 0.3rem;
}
  
.caption::-webkit-scrollbar-thumb {
    background-color: var(--dark-color); 
    border-radius: 0.4rem; 
}
  
.caption::-webkit-scrollbar-thumb:hover {
    background-color: var(--green);
}
  
.caption::-webkit-scrollbar-track {
    background-color: #eee;
    border-radius: 0.4rem;
}



.color{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.color-items-container{
    display: flex;
    gap: 0.8rem;
}

.color-items{
    font-size: 2.5rem;
    cursor: pointer;
}

.white{
    width: 3rem;
    height: 3rem;
    border:0.1rem solid #434348;
    border-radius: 100%;
    background-color: #ffffff;
}

.black{
    width: 3rem;
    height: 3rem;
    border:0.1rem solid #434348;
    border-radius: 100%;
    background-color: #000000;
}

.gray{
    width: 3rem;
    height: 3rem;
    border:0.1rem solid #434348;
    border-radius: 100%;
    background-color: #a09f9f;
}

.green-border {
    border: 0.3rem solid green;
    border-color: green;
}

#quantity{
    width: 5rem;
    background-color: #eee;
    text-align: cenetr;
}


.quantity-container {
    display: flex;
    align-items: center;
}
  
.quantity-button {
    width: 2rem;
    height: 2rem;
    background-color: #eee;
    border: none;
    border-radius: 0.2rem;
    font-size: 1rem;
    cursor: pointer;
}
  
.increase-btn:hover {
    background-color: rgb(45, 165, 45);
}

.decrease-btn:hover {
    background-color: rgb(237, 57, 57);
}

.add-to-cart-btn{
    text-align: center;
}



/* comments section starts */
.comments{
    margin-top: 3rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.comments-container{
    width: 65%;
    border: 0.1rem solid var(--green);
    border-radius: 2rem;
    box-shadow: -1px 3px 45px 2px rgba(0, 0, 0, 0.26);
}

.comments-header{
    background-color: var(--green);
    border-radius: 1.5rem 1.5rem 0 0;
    padding: 1rem 2rem 1rem 0;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.fa-message{
    font-size: 2.5rem;
    color: #fff;
}

.comments-title{
    font-size: 2rem;
    color: #fff;
}

.Posted-comments{
    margin: 3rem;
    border-bottom: 0.01rem solid #e6e6e6;
}

.name{
    font-weight: bolder;
    font-size: 2rem;
}

.message{
    padding-right: 1rem;
    font-size: 1.5rem;
    color: var(--black);
}

.message-rating{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.like-counter , .fa-thumbs-up{
    font-size: 2rem;
    color: green
}

.dislike-counter, .fa-thumbs-down{
    font-size: 2rem;
    color: red
}

.fa-thumbs-down, .fa-thumbs-up{
    cursor: pointer;
}

.leave-comment{
    padding: 2rem;
}

.leave-comment-title{
    padding-bottom: 2rem;
    font-size: 2rem;
}

.comments-inputs{
    display: flex;
    justify-content: space-around;
}

.input-option{
    width: 40%;
    padding: 0.5rem;
    border: 0.01rem solid rgb(232, 232, 232);
    border-radius: 0.5rem;
}

.comments-btn{
    background-color: var(--dark-color);
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 1rem;
    width: 8rem;
    cursor: pointer;
}

.comments-btn:hover{
    background-color: var(--green);
}



/* unavailable products styles */
.unavailable-product{
    color: red;
    font-size: 2rem;
    width: 100%;
    text-align: center;
}















@media(max-width:991px){

}


@media(max-width:768px){
    .product{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 3rem;
    }

    .image-section{
        flex-direction: column-reverse;
    }

    .another-images{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        width: 35rem;
        height: 15rem;
        overflow-y: hidden;
        overflow-x: scroll;
    }

    .image{
        height:30rem;
        background: linear-gradient(45deg, #267cbf 5%, #99cf6d 92%);
        width: 40rem;
        box-shadow: -1px 3px 45px 2px rgba(0, 0, 0, 0.26);
        border-radius: 1.2rem 1.2rem 1.2rem 1.2rem;
    }

    .image img{
        height: 20rem;
    }

    .description{
        width: 48rem;
    }

    .comments-container{
        width: 95%
    }

    .comments-inputs{
        flex-direction: column;
        width: 100%;
        gap: 1.5rem;
        align-items: center;
    }

    .input-option{
        width: 85%;
    }
    
}


@media(max-width:450px){

}